html


#imageone{

width:250px;
color:white;
background-color:black;
font-size:125px;
text-align:center;
position:absolute;
left:0px;
top:0px;
z-index:4;
}

#imagetwo{

width:250px;
color:white;
background-color:black;
font-size:125px;
text-align:center;
position:absolute;
left:0px;
top:0px;
z-index:3;

}

#imagethree{

width:250px;
color:white;
background-color:black;
font-size:125px;
text-align:center;
position:absolute;
left:0px;
top:0px;
z-index:2;
}

#imagefour{

width:250px;
height:147px;
color:white;
background-color:black;
font-size:125px;
text-align:center;
position:absolute;
left:0px;
top:0px;
z-index:1;
}